In [1]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import random
np.random.seed(30)
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from collections import Counter
import keras
from keras.layers import Conv2D,Dense,Flatten
import keras.backend as K
from keras.callbacks import ModelCheckpoint
from keras.layers import Input
from keras.models import Model
from sklearn.model_selection import KFold

/home/rithwik/anaconda/lib/python2.7/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
days = pd.HDFStore('../Combined Datasets/daily.h5','r')
hours = pd.HDFStore('../Combined Datasets/hourly.h5','r')

In [3]:
train_prop = .65
v_prop = .2
test_prop = .15
keys = days.keys()

const = 1000.0

In [4]:
def return_data(keys,n_months):
    

    appliance1 = 'use'
    appliance2 = 'air1'
    
    

    
    
    X = np.array([days[i][appliance1].values for i in keys if (appliance1 in days[i].columns and appliance2 in days[i].columns )])[:,:28*n_months]/const
    y = np.array([hours[i][appliance2].values for i in keys if (appliance1 in hours[i].columns and appliance2 in hours[i].columns )])[:,:(28*24*n_months)]/const
    
    
    lst = [86,82,82,73.9,64.9,61,72,77,84,87.1,84.9,84.9,78.1,73,64.9,73,66.9,78.1,78.1,75,84,87.1,87.1,88,88,86,96.1,93,84,75,77,82.9,93.9,91,91.9,87.1,88,84,86,91,93,82,66.9,75.9,84,86,86,84.9,86,89.1,89.1,87.1,84,86,87.1,75,73,84,89.1,93.9,93,88,91,90,91,91,91.9,91.9,90,86,91.9,93.9,91.9,89.1,87.1,91,91.9,91.9,91.9,91,91,91.9,90,88 ]
    temp_matrix = lst * len(X)
    temp_matrix = np.array(temp_matrix).reshape((len(X)*n_months,4,7))
    
    
    X = X.reshape((len(X)*n_months,4,7))
    
    
    
    
    X = np.expand_dims(X,axis=3)    
    temp_matrix = np.expand_dims(temp_matrix,axis=3)
    
    X = np.concatenate((X,temp_matrix),axis=3)
    #print (X.shape)
    
    
    
    
    y = y.reshape((len(y)*n_months,28*24))
    
    
    
    return X,y


def mae(truth,pred):
    return np.mean(const*np.abs((truth-pred)))

In [5]:
def network():
    
    input_layer = Input(shape=(4,7,2),name="Monthly_Matrix")
    input_layer_2 = Input(shape=(1,),name="Cooling_Degree_Day_Monthly")
    

    op1 = Conv2D(10,kernel_size=(4,1), strides=(1,1),name="Filter_4X1")(input_layer)
    
    op1 = Flatten()(op1)
    
    
    
    op2 = Conv2D(10,kernel_size=(1,7), strides=(1,1),name="Filter_1X7")(input_layer)
    
    op2 = Flatten()(op2)
    
    
    op3 = Conv2D(10,kernel_size=(1,2),strides=(1,1),name="Filter_1X2")(input_layer)
    
    op3 = Flatten()(op3)
    
    op4 = Conv2D(10,kernel_size=(2,1),strides=(1,1),name="Filter_2X1")(input_layer)
    
    op4 = Flatten()(op4)
    
    #op5 = Conv2D(20,kernel_size=(3,3),strides=(1,1),padding='same')(input_layer)
    
    #op5 = Conv2D(20,3,strides=(1,1),padding='same')(input_layer)
    
    #op5 = Flatten()(op5)
    
    #op5 =  keras.layers.Dropout(.2)(op5)
    
    #op5  = Dense(168*4)(op5)
    
    
    
    
    
    
    
    
    
    merge_layer = keras.layers.concatenate([op1, op2, op3,op4],name="Concatenation_1")
    

    
    merge_layer =  keras.layers.Dropout(.1)(merge_layer)
    
    
    
    merge_layer = keras.layers.concatenate(([merge_layer,input_layer_2]),name="Concatenation_2")
    
    final_layer = Dense(168*4,name="Output_Dense",activation='relu')(merge_layer)
    
    
    #final_layer = keras.layers.LeakyReLU(alpha=0.01)(final_layer)
    
    #predictions = Dense(1, activation='sigmoid')(merge_layer)

    
    
    
    model = Model(inputs=[input_layer,input_layer_2], outputs=final_layer)

    
    return model

In [6]:
def empty_dir(dir_name):
    for i in os.listdir(dir_name):
        os.remove(dir_name+"/"+i)

In [7]:
def fit_model(train_x,train_y,test_x,test_y,v_x,v_y):
    
    model = network()
    n_epochs = 2000
    sgd = keras.optimizers.SGD(lr=0.001)
    rmsprop  = keras.optimizers.RMSprop(lr=.001)
    adagrad = keras.optimizers.adagrad(lr=.001)
    model.compile(optimizer=sgd, loss='mean_squared_error')
    
    dir_name = 'temp'
    empty_dir(dir_name)
    
    print("Started Training!")
    checkpoint = ModelCheckpoint(dir_name+'/single-model-{epoch:03d}.h5', verbose=0, monitor='val_loss',save_best_only=True, mode='auto')  
    model.fit([train_x,train_temp], train_y, epochs=n_epochs, validation_data=[[v_x,v_temp],v_y], callbacks=[checkpoint], verbose=0)

    all_files = os.listdir(dir_name)
    all_files.sort()
    weights_file = all_files[-1]
    
    
    model.load_weights(dir_name+"/"+weights_file)
    
    
    pred_train = model.predict([train_x,train_temp])
    pred_v = model.predict([v_x,v_temp])
    pred_test = model.predict([test_x,test_temp])
    
    train_cost = mae(train_y,pred_train)
    v_cost = mae(v_y,pred_v)
    test_cost = mae(test_y,pred_test)
    
    return train_cost,v_cost,test_cost

In [8]:
n_experiments = 10
results_arr = [] 
for exp in range(n_experiments):
    
    keys = days.keys()

    np.random.seed(exp)
    
    np.random.shuffle(keys)
    
    train_homes = keys[:int(len(keys)*train_prop)]
    test_homes = keys[int(len(keys)*train_prop):int(-len(keys)*v_prop)]
    val_homes = keys[int(-len(keys)*v_prop):]
    
    train_x,train_y = return_data(train_homes,3)
    
    test_x,test_y = return_data(test_homes,3)
    
    v_x,v_y  = return_data(val_homes,3)
    
    
    
    vals = [16,18,21]
    
    
    train_temp = np.array(vals*(len(train_x)/3))
    
    v_temp = np.array(vals*(len(v_x)/3))
    
    test_temp = np.array(vals*(len(test_x)/3))
    
    
    
    
    results = fit_model(train_x,train_y,test_x,test_y,v_x,v_y)
    
    print (results)
    
    results_arr.append(results)

Started Training!
(220.59448, 201.93166, 197.60733)
Started Training!
(198.96013, 210.78577, 274.86588)
Started Training!
(207.07861, 217.63968, 225.57394)
Started Training!
(218.69586, 202.70543, 197.99092)
Started Training!
(190.34816, 168.80612, 334.5787)
Started Training!
(190.09767, 279.67142, 232.14886)
Started Training!
(203.57504, 234.57117, 219.26984)
Started Training!
(226.8818, 145.30919, 244.61682)
Started Training!
(208.37859, 168.45158, 301.9334)
Started Training!
(214.95334, 174.37096, 238.31413)

In [9]:
results_arr = np.array(results_arr)

In [10]:
np.mean(results_arr,axis=0)

array([207.95638, 200.42429, 246.68999], dtype=float32)

In [4]:
days['/1037']

,use,air1,clotheswasher1,dishwasher1,drye1,furnace1,kitchenapp1,microwave1,range1,refrigerator1,waterheater1
date,,,,,,,,,,,
2014-04-01,12021.183594,4958.399902,0.000000,0.000000,0.333333,1631.566650,219.266678,131.166672,373.700012,900.933350,1150.633301
2014-04-02,18396.300781,6327.033203,281.016663,0.000000,1650.233398,2019.466675,219.316666,327.566650,535.983337,665.416687,3083.216797
2014-04-03,20768.066406,6267.133301,148.916672,777.599976,5003.066895,2007.099976,111.199997,44.016666,955.500000,756.950012,1915.150024
2014-04-04,11309.250000,4962.116699,0.000000,0.000000,0.000000,1638.916626,114.033333,59.049999,814.366699,866.866638,604.033325
2014-04-05,3877.333252,13.883333,0.000000,0.000000,0.050000,4.983334,0.000000,37.966667,328.216675,637.766663,749.033325
2014-04-06,6844.666504,4.500000,0.000000,0.000000,0.050000,1.533333,350.383331,124.516663,1320.250000,611.983337,1915.566650
2014-04-07,9394.599609,0.000000,0.000000,806.900024,0.100000,2163.883301,118.416672,57.866669,1072.916626,633.316650,2162.783203
2014-04-08,7555.416504,0.000000,0.000000,0.000000,0.000000,1725.566650,115.966667,117.866669,543.766663,755.316650,1987.483276
2014-04-09,6600.416504,0.000000,0.000000,0.000000,0.100000,1049.849976,113.883339,350.049988,790.583313,641.299988,1517.933350
2014-04-10,10975.883789,338.383331,163.116669,0.000000,4082.883301,119.416664,112.150002,403.450012,508.183319,687.400024,1980.433350
2014-04-11,9163.183594,1883.983398,0.000000,731.183350,2.750000,636.733337,0.116667,369.566650,186.300003,1002.099976,1490.866699
2014-04-12,10983.200195,3878.133301,0.000000,0.000000,0.150000,1285.800049,117.883331,127.316666,824.833374,698.633362,1376.483276
2014-04-13,12539.983398,4668.166504,0.000000,0.000000,0.150000,1520.650024,116.483337,230.266663,209.000000,712.033325,1930.066650
2014-04-14,13258.450195,4998.066406,0.000000,0.000000,0.100000,1651.116699,144.783340,416.016663,1131.433350,866.799988,1068.033325
2014-04-15,7512.133301,0.000000,0.000000,683.150024,2.650000,0.000000,131.066666,186.400009,340.383331,645.883301,3028.750000
2014-04-16,11568.133789,0.000000,0.000000,0.000000,0.000000,6720.866699,198.549988,440.149994,214.983337,583.416687,1320.916626
2014-04-17,6970.466797,0.000000,0.000000,0.000000,0.550000,1609.000000,353.916687,417.283356,314.383331,615.583313,1482.016602
2014-04-18,5406.483398,0.000000,0.000000,0.000000,0.400000,0.000000,120.800003,17.183334,606.450012,765.683350,1503.099976
2014-04-19,14225.033203,1469.983398,271.733337,0.000000,5122.750000,504.716675,111.316666,281.533325,513.816650,713.416687,2658.899902
2014-04-20,14674.349609,1390.933350,152.816666,0.000000,5066.416992,474.300018,333.616669,338.783325,671.583313,861.799988,2065.316650
2014-04-21,14306.617188,2808.133301,246.300003,590.566650,2103.116699,926.016663,112.600006,54.983334,454.550018,702.483337,3035.216553
2014-04-22,12710.883789,4681.983398,0.000000,0.000000,8.733334,1507.000000,611.766663,209.449997,140.066666,653.033325,2053.533203
2014-04-23,12109.183594,4980.100098,0.000000,0.000000,0.000000,1955.200073,216.599991,136.016663,350.833344,686.733337,1412.316650
2014-04-24,14761.683594,5157.200195,0.000000,706.783325,0.000000,1728.049927,137.666672,235.016663,614.916687,937.683350,2077.433350
2014-04-25,12113.000000,5140.316406,0.000000,0.000000,0.000000,1653.683350,0.166667,10.250000,369.666656,668.016663,1736.833374
2014-04-26,17432.732422,5180.216797,149.250000,0.000000,4040.300049,1664.466675,129.316666,71.099998,692.250000,685.016663,1186.050049
2014-04-27,16840.949219,8333.366211,0.000000,0.000000,0.000000,2516.050049,237.033325,171.400009,285.266663,780.933350,1854.550049
2014-04-28,16626.099609,8273.283203,0.000000,0.000000,0.050000,2455.183350,496.899994,104.633331,267.533325,923.616638,1180.349976
2014-04-29,14583.183594,5342.450195,0.000000,755.566650,0.050000,1675.666626,227.533325,785.566650,933.549988,709.299988,1495.800049
2014-04-30,12043.516602,3404.583252,0.000000,0.000000,0.100000,1209.933350,349.250000,184.366669,433.366669,713.133362,2803.516602
...,...,...,...,...,...,...,...,...,...,...,...
2014-06-01,17725.066406,9254.950195,0.000000,0.000000,0.066667,2811.850098,443.649994,110.816666,427.116638,778.583313,1151.433350
2014-06-02,16641.617188,8462.833008,0.000000,0.000000,0.050000,2574.916748,205.183334,148.850006,1003.166687,951.783325,997.599976
2014-06-03,18212.132812,8626.750000,0.000000,648.483337,0.050000,2633.666748,247.766663,92.150002,711.766663,862.616638,1835.183350
2014-06-04,21045.083984,11807.633789,0.000000,0.000000,0.150000,3438.399902,555.366638,250.283325,447.333313,726.316650,625.983337
2014-06-05,16502.533203,8211.299805,0.000000,0.000000,0.000000,2488.883301,0.233333,100.050003,433.233337,920.700012,1392.849976
2014-06-06,20930.117188,9362.950195,281.899994,0.000000,1908.800049,2793.550049,209.300003,38.716667,530.333313,717.099976,1733.733398
2014-06-07,21183.050781,10953.333008,0.000000,825.533325,0.066667,3236.199951,102.733330,203.250000,852.549988,768.083313,1274.783325
2014-06-08,20502.033203,10729.166992,0.000000,0.000000,336.933350,3162.649902,104.966667,249.166672,846.383301,1005.816650,1374.933350
2014-06-09,20257.150391,10917.566406,0.000000,0.000000,0.050000,3253.833252,645.333313,286.516663,501.750000,778.583313,968.066650
2014-06-10,20050.382812,7365.799805,148.949997,0.000000,3997.500000,2287.550049,105.283333,95.883331,852.433350,747.849976,1379.800049
2014-06-11,13769.066406,7075.383301,0.000000,0.000000,0.133333,2202.300049,0.050000,385.283325,463.049988,741.950012,774.916687
2014-06-12,22203.265625,12141.816406,0.000000,549.599976,0.283333,3451.016602,103.799995,134.083328,934.683350,1018.216675,1486.449951
2014-06-13,14068.566406,7014.016602,0.000000,19.216667,0.000000,2223.016602,208.166656,35.383335,550.483337,725.633362,646.950012
2014-06-14,23448.117188,9928.200195,265.233337,0.000000,4170.566895,2994.816650,102.316666,54.866669,179.633331,726.049988,2283.516602
2014-06-15,18642.216797,10304.299805,0.000000,0.000000,0.100000,3044.350098,104.633331,156.366669,396.066681,1003.166687,1006.733398
2014-06-16,21924.449219,9713.867188,159.566666,0.000000,3415.616699,2860.666748,106.933334,264.766663,410.216675,746.966675,1479.750000
2014-06-17,18608.500000,10647.700195,0.000000,0.000000,0.050000,3116.550049,103.633339,10.433333,376.316650,947.700012,1166.716675
2014-06-18,19370.716797,9107.433594,0.000000,824.033325,0.216667,2723.750000,491.699982,466.733337,371.666687,1216.349976,1757.466675
2014-06-19,20642.050781,11905.266602,0.000000,0.000000,0.100000,3502.349854,104.866669,135.349991,841.000000,817.049988,1018.066650
2014-06-20,15624.466797,7933.399902,0.000000,0.000000,0.066667,2430.066650,108.083328,136.116669,476.833344,709.899963,1412.449951
2014-06-21,20129.767578,9803.216797,250.250000,0.000000,1681.800049,2919.433350,99.083336,127.833328,602.266663,808.316650,1652.716675
2014-06-22,22842.132812,11124.250000,147.216660,0.000000,2578.716553,3282.516602,104.000000,107.383331,472.899994,977.950012,1357.333374
2014-06-23,17346.267578,8610.633789,0.000000,628.799988,0.000000,2623.349854,103.599998,94.683334,365.850006,739.066650,1704.750000
2014-06-24,16940.183594,8722.966797,0.000000,0.000000,0.150000,2608.600098,104.533333,220.933334,732.716675,825.733337,1316.133301
2014-06-25,18759.982422,8270.700195,149.633331,0.000000,2022.116699,2576.949951,187.933334,259.600006,451.149994,1486.599976,967.283325
2014-06-26,17101.617188,7623.666504,265.983337,0.000000,0.050000,2448.283447,105.133331,253.416672,474.049988,748.133301,2650.016602
2014-06-27,19101.400391,7655.733398,0.000000,0.000000,4252.616699,2371.050049,104.599998,134.683334,410.849976,902.950012,991.866699
2014-06-28,17231.949219,10210.750000,0.000000,0.000000,0.000000,3002.633301,185.500000,0.000000,414.316650,730.966675,600.116699
2014-06-29,21100.515625,10894.283203,0.000000,724.166626,0.066667,3193.100098,98.816666,199.316666,491.033325,748.033325,2112.199951
2014-06-30,23076.617188,13589.200195,0.000000,0.000000,0.216667,3880.550049,98.433334,543.116699,933.766663,1006.549988,609.799988